
.cst{ background-color:#dc463d}
.one,.down {
    background-color: #dc463d;
    h2 {
        color: $mainColor;
        text-align: center;
    }

    hr {
        border-color: $mainColor;
    }
}

i {
    font-size: 25px;
    color: red;
}

.foot{
    
        border-color: #dc463d;
    }
 .mail{
            color:#dc463d;
        }